@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e9ebef;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  background: var(--background);
  width: 95%;
  margin: 0 auto;
}

a {
  font-family: "Lato", sans-serif;
}
